<p><%= @news_comment.commenter.f %> 在您的群組新聞訊息 
"<%= @news_title %>" 上回應：</p>

<p>"<%= @news_comment.body %>"</p>

<p>欲檢視這個群組留言板的其他留言，請點選下列連結：<br>
http://<%= @domain %><%= @group_news_url %></p>

<p>謝謝，<br>
Cateplaces 團隊</p>

<p>___
<br><%= @preferences_note %></p>