<p><%= @membership.user.f %> 已經接受加入你的群組
「 <%= @membership.group.name %> 」。</p>

<p>查看更多詳情及瀏覽群組成員，請前往以下連結：<br>
http://railscode.mine.nu<%= @url %></p>

<p>謝謝，<br>
Cateplaces 團隊</p>

<p>___
<br><%= @preferences_note %></p>