<p><%= @membership.group.owner.f %> 邀請你加入 Cateplaces 的
「 <%= @membership.group.name %> 」群組。</p>

<p>查看更多詳情及管理群組成員，請前往以下連結：<br>
http://railscode.mine.nu<%= @url %></p>

<p>謝謝，<br>
Cateplaces 團隊</p>

<p>___
<br><%= @preferences_note %></p>