<p><%= @membership.user.f %> 希望加入你在 Cateplaces 的群組<br>
「 <%= @membership.group.name %> 」。</p>

<p>查看使用者資訊及確認這個使用者，請前往以下連結：<br>
http://railscode.mine.nu<%= @url %></p>

<p>謝謝，<br>
Cateplaces 團隊</p>

<p>___
<br><%= @preferences_note %></p>