<p><%= @user.f %> 你好，</p>

<p>您最近要求補發一組新密碼。  要重設你的密碼，請按以下連結：<br>
<%= @url %><br>
(如果按一下這個連結沒用的話，試試看將網址複製到你的瀏覽器上)。</p>

<p>如果你並未重設你的密碼，請忽略這則訊息。<br>
若您有任何疑問，請造訪 Cateplaces 網站。</p>

<p>謝謝，<br>
cateplaces 團隊</p>