<p><%= @user.f %> 你好，<p>

<p>你最近曾嘗試登入你已失效的帳號。如要重新啟動你的帳號，請點選下面的連結：<br>
<%= link_to @url, @url %><br>
(如果按一下這個連結沒用的話，試試看將網址複製到你的瀏覽器上)。</p>

<p>如果你並沒有嘗試重新啟動你的帳號，請忽略這則訊息。</p>

<p>謝謝，<br>
Cateplaces 團隊</p>