<p><%= @user.f %> 你好，</p>

<p>你最近註冊了 Cateplaces 帳戶。按此連結以確認你的 Cateplaces 帳戶：<br>
<%= link_to @url, @url %>
</p>

<p>一經確認，你即能夠享用 Cateplaces 的完整服務，日後的電郵通知都將一律發送至此地址。</p>

<p>Cateplaces 幫助你和你的所有朋友溝通及保持聯絡。
一但加入 Cateplaces，你便可以分享相片、計劃活動、以及更多其他功能。</p>

<p>謝謝，<br>
Cateplaces 團隊</p>
  