<li class="vcard person">
  <div class="profile-image">
    <%= image_link group, :class => "photo", :image => :small %>
  </div>
  <p><%= link_to "#{h group.name}", group_path(group), :class => "url fn" %></p>
  <%= display(truncate(group.description, 150), :class => "note") %>
  <div class="clear"></div>
</li>
