<h3>請確認你的電子郵件</h3>

<div id="profile_edit">

<p>感謝你註冊 Cateplaces！我們剛寄了一封確認信到你您的信箱 <%= @user.email %></p>
<p>請點選電子郵件內的確認連結來完成您的註冊程序。</p>
<p>有疑問嗎？ 請查看說明頁面。</p>
<p><%= link_to '返回首頁', index_url %></p>

</div>