<style type="text/css" media="screen">
  #instaport{margin-bottom:20px; margin-top:5px;}
  #instaport .fun_button a#instagram_import{
    text-indent:-9999px;
    background-image:url(/images/instagram_button_text.png);
    background-repeat:no-repeat;
    background-color: #685b51;
    border-color: #3f3831;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-transform: none;
  }
  #instaport .fun_button a#instagram_import:hover{background-color:#554b42; border-color:#342e28;}
</style>
<div id="instaport">
  <div class="fun_button">
    <a href="/auth/instagram" id="instagram_import">Or, Import your photos from Instagram</a>
  </div>
</div>