<div class="minifeed">
<h3>動態消息</h3>
<%- if is_logged_in? -%>
    <%= render :partial => 'shared/minifeed_item',
               :collection => logged_in_user.mini_feed %>
<%- else -%>
    <%= render :partial => 'shared/minifeed_item',
               :collection => Activity.global_feed %>
<%- end -%>
</div>