<div id="publish_tt_checkbox" style="<%= twitter_user? ? '' : 'display:none' %>">
          <%= image_tag('twitter.png') %>
          <%= check_box_tag(:publish_to_twitter, 0, true) %>
          同時發佈到我的 Twitter 個人檔案上
</div>
