<% column_div :type => :primary do -%>
  <h3>編輯活動事項</h3>
  <%= link_to "返回活動項目首頁", events_path %>
  <%= render :partial => 'event_form' %>
<% end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>