<% remote_form_for(:wall_comment, :url => group_news_wall_comments_path(@group.id, @news_item.id),
						 :html => {:id => "submit-comment-form", :title => "留言..."},
	  					 :method => :post, :complete => "Field.clear('comment-body')") do |f| %>

	<div id="send-error" class="hidden">你無法發送一項空白的留言，且字數不可超過500個字。</div>
	
	<div id="progress-bar" style="display:none;" align="center">
		<img src="/images/indicator_blue_large.gif" alt="progress bar">
		<div><small>正在送出你的回應...請稍後</small></div>
	</div>
  
	<div class="form_row">
		<%= f.text_area :body, :id => 'comment-body', 
							 :rows => WallComment::BODY_ROWS, :cols => WallComment::BODY_COLS %>
	</div>
	
	<div id="submit-comment" class="row button">
		<%= submit_tag "新增回應", :class => "button" %>
	</div>
<% end %>

<script type="text/javascript" language="JavaScript">
jQuery(document).ready(function() {

	jQuery("#submit-comment-form").submit(function() {
	  jQuery("#comment-body").hide();
	  jQuery("#submit-comment").hide();
	  jQuery("#send-error").hide();
	  jQuery("#progress-bar").show();
  });
  
});
</script>