<div id="new_comment" class="hidden">
<% custom_remote_form_for(:wall_comment, :url => group_news_wall_comments_path(@group.id, @news_item.id), 
							   :html => { :id => "#{dom_id(@news_item)}_comment_form", :title => "留言...", 
							   :method => :post, :complete => "Field.clear('comment-body')"}) do |f| %>
	<div id="thickbox_form">
		<%= f.text_area :body, { :label => "留言內容" } %>
		你可以使用 [youtube: 影片網址] 來嵌入 Youtube 影片! 
		<a href="http://www.youtube.com" target="_blank">上傳影片</a><br>
		例如 [youtube: http://www.youtube.com/watch?v=xxx_xxxxxxx]
		<div class="row button"><%= f.submit "送出回應", :class => "button" %></div>
		<div class="clear"></div>
  </div>
<% end %>
</div>