<h3>忘記密碼</h3>

<div id="profile_edit">
<p>無法登入？</p>
<p>忘記密碼了嗎？請在下方輸入你登入 #{app_name} 的電子郵件帳號，我們會寄封內含重設密碼連結的電子郵件給你。</p>
<% form_for :user do |f| -%>
	<div class="form_row">電子郵件：<%= f.text_field :email, 
		:size => User::EMAIL_SIZE, :maxlength => User::EMAIL_MAX_LENGTH -%></div>

	<div class="row button">
		<%= submit_tag '重設密碼', :class => 'button' -%>
	</div>
	
<p>如使用帳號有其它問題，請參閱登入問題的說明專屬頁面。</p>
<% end -%>
</div>