<div class="form_row">
	<h3><%=h @user.f -%>的聯絡資料</h3>
	<%= render :partial => "contact/info_show" %>
	<%= render :partial => "contact/contact_show" %>
	<%= render :partial => "contact/academic_show" %>
</div>