<%- column_div :type => :primary do -%>
	<h3>邀請你的朋友</h3>
	<%= render :partial => 'shared/invite', :locals => {:name => "#{app_name}", :url => user_invites_path(@user) } -%>
	<div class="clear"></div>
<%- end -%>

<%- column_div :type => :secondary do -%>
<h3>尋找聯絡人</h3>
	<% form_tag :action => 'import', :id => @user do %>
		<select name="from" id="from">
		<option value="">選擇帳戶類型：</option>
		<option value="gmail">GMail</option>
		<option value="yahoo">Yahoo! Mail</option>
		<option value="hotmail">Hotmail</option>
		<option value="aol">Aol Mail</option>
		</select>
		
		<br />
		<p>你的電郵地址：<br />
		<input type="text" name="login"></p>
		<p>電郵登入密碼：<br />
		<input type="password" name="password"></p>
		
		<p class="meta"><%= app_name %>將不會儲存你的帳號密碼！</p>
		<div class="row button">
			<%= submit_tag "匯入通訊錄", :class => "button", :id => "import_contacts" %>
		</div>
	<% end %>
<%- end -%>