<%= javascript_include_tag 'jquery', 'prototype', 'effects' %>

<h3>編輯文章</h3>
<% custom_form_for @news_item, :url => user_note_path(@user, @news_item), :html => { :method => :put, :multipart => true, :class => "box no_top" } do |f| -%>
	<%= render :partial => 'news/form', :locals => {:f => f } %>
<% end %>
</div>
