<div id="new_comment" class="hidden">
<% custom_remote_form_for(:wall_comment, :url => user_photo_wall_comments_path(@user, @photo), 
							   :html => { :id => "#{dom_id(@photo)}_comment_form", :title => "留言...", 
							   :method => :post, :complete => "Field.clear('comment-body')"}) do |f| %>
	<div id="thickbox_form">
		<%= f.text_area :body, { :label => "回應內容" } %>
		你可以使用 [youtube: 影片網址] 來嵌入 Youtube 影片! 
		<a href="http://www.youtube.com" target="_blank">上傳影片</a><br>
		例如 [youtube: http://www.youtube.com/watch?v=xxx_xxxxxxx]
		<div class="row button">
			<%= f.submit "送出回應", :class => "button", :id => "comment_submit" %>
	      <span id="send-comment-progress" style="display:none;color:black" float:left>
				<img src="/images/loader.gif" alt="progress bar">
				<small>請稍後....</small>
		  	</span>
		</div>
		<div class="clear"></div>
  </div>
<% end %>
</div>
  
<script type="text/javascript" language="JavaScript">
jQuery(document).ready(function()
{
    jQuery("#comment_submit").click(function()
    {
        jQuery("#send-comment-progress").show();
    });
});
</script>
