<h4>從 Yahoo！搜尋找到的相關相片</h4>
<%
  @associates.each do |e|
    next if e.restrictions
    x = e.width
    y = e.height
    while x > 150 || y > 150
      x = x / 2
      y = y / 2
    end
%>
  <span style="margin: 8px 8px 8px 8px; width: 640px;">
    <%= link_to image_tag(e.url, :title => e.summary, :alt => e.title,
        :size => "#{x}x#{y}",
        :onmouseout => "new Effect.Scale(this, 50)",
        :onmouseover => "new Effect.Scale(this, 200)"),
        e.referer_url, :target => '_blank' %>
  </span>
<% end %>

<div style="margin: 8px 8px 8px 8px;">
  <%= link_to "關於 Yahoo！Web Service API", 
  		"http://developer.yahoo.com/about" %>
</div>